<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>畅游</title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1185901_tjdn44ryex.css" />
  <link rel="shortcut icon" type="image/x-icon" href="https://s1.ax1x.com/2022/07/03/jGJ4bD.png" />
</head>
<body>
  <div id="root"></div>
</body>
</html>

